html {
    scroll-behavior: smooth;
  }
body, html, section {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(15, 15, 15);
}
/* header */
header {
    overflow: hidden;
    background-color: whitesmoke;
    padding: 5px 0px;
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}
#darkmode_click, header a {
    float: left;
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
#menu_conteudo {
    float: right;
}
header a {
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}
#darkmode_click {
    font-size: 25px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    margin: 0px 20px 0px 20px;
}

#mobile_menu {
    display: none;
    background-color: transparent;
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 2px;
    font-size: 18px;
    margin: 0px 20px 0px 20px;
}

header a:hover, #darkmode_click:hover {
    opacity: 0.9;
}
@media screen and (max-width: 650px) {
    header {
        display: none;
    }
}
/* home */
#home_conteudo {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-90%) translateY(-50%);
    width: 50%;
    text-align: center;
}
#perfil {
    width: 30vmin;
    border-radius: 50%;
}
/*sobre */
#sobre_conteudo {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-10%) translateY(-50%);
    width: 50%;
    text-align: right;
}
/* conhecimentos */
#conhecimentos_conteudo {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-90%) translateY(-50%);
    width: 50%;
}
.conhecimentos_lista {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3vmin;
}
.conhecimentos_itens {
    font-size: 5vmin;
    color: #502D67;
}
h1 {
    font-size: 5vmin;
    color: #502D67;
}
h2 {
    font-size: 3.5vmin;
    font-weight: 500;
    color: rgb(15, 15, 15);
}
p {
    font-size: 3vmin;
}
.active {
    background-color: #502D67;
    color: whitesmoke;
}
.dark_mode {
    background-color: #141414;
    color: #ccc;
}
.dark_mode a, .dark_mode h2 {
    color: #ccc;
}