html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    scroll-behavior: smooth;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
}
section {
    height: 100%;
    width: 100%;
}

/* header */
header {
    background-color: whitesmoke;
    padding: 5px 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}
.github_click, header a {
    float: left;
    color: rgb(15, 15, 15);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
#menu_conteudo {
    float: right;
}
header a {
    padding: 12px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}
.github_click {
    font-size: 50px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px 20px 0px 20px;
    color: #94167f;
}

#mobile_menu {
    display: none;
    background-color: transparent;
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 2px;
    font-size: 18px;
    margin: 0px 20px 0px 20px;
}

header a:hover, .github_click:hover {
    opacity: 0.9;
}
@media screen and (max-width: 650px) {
    header {
        display: none;
    }
}

/* home */
section:nth-child(2) {
    background-image: linear-gradient(-180deg,  #94167f, #300350);
}
#home_conteudo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    text-align: center;
}
#continuar {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 5vmin;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 47%;
    animation: 2s arrow infinite ease;
    
}
@keyframes arrow {
    0%, 100% {
        bottom: 0px
    }
    50% {
        bottom: 20px;
    }
}

/*sobre */
section:nth-child(3) {
    background-color: #e93479;
}
#sobre_conteudo {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-10%) translateY(-50%);
    width: 50%;
    text-align: right;
}

/* conhecimentos */
section:nth-child(4) {
    background-color: #f62e97;
}
#conhecimentos_conteudo {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-90%) translateY(-50%);
    width: 50%;
}
.conhecimentos_lista {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3vmin;
}
.conhecimentos_itens {
    font-size: 5vmin;
    color: whitesmoke;
}

/* contato */
section:nth-child(5) {
    background-image: linear-gradient(-180deg, #b32d60, #f62e97)
}
#contato_conteudo {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    text-align: center;
}
.contato_lista {
    position: relative;
    top: 20px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3vmin;
}
.contato_itens {
    font-size: 5vmin;
    color: whitesmoke;
}
#contato_conteudo a {
    color: whitesmoke;
}

/* geral */
h1 {
    font-size: 5vmin;
    color: whitesmoke;
    margin: 0px;
}
h2 {
    font-size: 3.5vmin;
    font-weight: 500;
    color: whitesmoke;
}
p {
    font-size: 3vmin;
}
.active {
    background-color: #94167f;
    color: whitesmoke;
}